@import "./Renderer/Styles/reset", "./Renderer/Styles/color";

#app,
#sidebar,
#main,
#note-form,
.form-control {
  display: flex;
}

#app {
  height: 100vh;
  background-color: $dark;
}

#sidebar,
#main,
#note-form,
.form-control {
  flex-direction: column;
  align-items: center;
}

#sidebar,
#main {
  padding-block: 1rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #bbc1c7;
  }

  &::-webkit-scrollbar-thumb {
    background: #3097b9;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #40bf89;
  }
}

#sidebar {
  flex-basis: 40%;
}

#main {
  flex-grow: 1;
}

#note-form {
  padding: 1rem;
  background-color: $blue;
  border: 3px solid $yellow;
}
